<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.item.demo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 监听GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.recycler.TestOneActivity" />
        <activity android:name=".activity.recycler.PullToRefreshUseActivity" />
        <activity android:name=".activity.refresh.TextRefreshActivity" />
        <activity android:name=".activity.refresh.BasicUsingActivity" />
        <activity android:name=".activity.refresh.RefreshActivity" />

        <service android:name=".utils.push.MyPushIntentService" />

        <receiver android:name=".receiver.NetworkConnectChangedReceiver" />
        <!--
            <intent-filter>
                <action android:name="android.NET.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.Net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        -->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59f2c459f43e4803c900032d" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value=" 558702fcd955a9b66d402314cb4b0522" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="MyDemo" />

        <activity android:name=".test.TestActivity" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="227b523130425487380e95832d25263d" />

        <service android:name="com.amap.api.location.APSService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.item.demo.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.map.MyMapActivity" />
        <activity android:name=".activity.map.PoiActivity" />
        <activity android:name=".activity.http.HttpOneActivity" />
        <activity android:name=".activity.http.PhotoActivity" />
        <activity android:name=".activity.http.PhotoTwoActivity" />
        <activity android:name=".activity.refresh.MyListActivity" />
        <activity android:name=".test.TestTwoActivity" />
        <activity android:name=".activity.map.PositionActivity" />
        <activity android:name=".activity.ult.UltActivity" />
        <activity android:name=".mvpsample.view.TestMvpActivity" />
        <activity android:name=".activity.load.DialogActivity" />
        <activity android:name=".activity.wave.WaveActivity" />
        <activity android:name=".mvpsample.view.LoginActivity" />
        <activity android:name=".activity.refresh.WeiboPracticeActivity"></activity>
    </application>

</manifest>